<div style="text-align: center; background-color:#80817F; height: 270px">

    <div class="timePicker"> 

        <div style="height:5px; background-color:white;"></div>
        <timepicker ng-model="timetype" hour-step="1" minute-step="1">

        </timepicker>
    </div>
    <div style="height:50px"> </div>
    <button class="buttonTimePicker" style="margin-top: 40px" ng-click="timefunction()">Save 
    <span class="glyphicon glyphicon-folder-close"></span>
    </button>
    <button class="buttonTimePicker" style="margin-top:40px" ng-click="back()">Back &nbsp;
    <span class="glyphicon glyphicon-chevron-left"></span>
    </button>



</div>