<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="appMdl">
<head>
    <title>Time Clock</title>
    <link href="../shared/libraries/bootstrap.min.css" rel="stylesheet" />
    <link href="../shared/libraries/clockStyle.min.css" rel="stylesheet" />
    <link href="index.css" rel="stylesheet" />
    <link href="homePage/homePage.css" rel="stylesheet" />
    <link href="schedule/schedule.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div>
            <ul class="nav nav-tabs">
                <li ng-click="Route('homePage')"><a class="tabbs">Home Page</a></li>
                <li ng-click="Route('schedule')"class="si-icons si-icons-hover" > <a class="tabbs"> Schedule </a></li>
            </ul>
        </div>
        <div class="clockAnimation">
            <ds-widget-clock theme="theme" show-digital="digital" show-analog digital-format="'hh:mm:ss a EEEE'"></ds-widget-clock>
        </div>
        <div class="PageAnimation" ng-view style="width: 50%"></div>
        <div id="back" style="position: absolute; top: 0;  z-index: -1; width: 100%; height: 100%"></div>
    </div>
    <!--libraries-->
    <script src="../shared/libraries/jquery.min.js"></script>
    <script src="../shared/libraries/angular.min.js"></script>
    <script src="../shared/libraries/Chart.min.js"></script>
    <script src="../shared/libraries/angular-chart.js"></script>
    <script src="../shared/libraries/angular-animate.js"></script>
    <script src="../shared/libraries/bootstrap.min.js"></script>
    <script src="../shared/libraries/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="../shared/libraries/angular-route.min.js"></script>
    <script src="../shared/libraries/angular-route.js"></script>
    <script src="../shared/libraries/angular-clock.js"></script>
    <script src="../shared/libraries/angular-clock.min.js"></script>
    <!--Directives-->
    <script src="../shared/directives/timeDir.js"></script>
    <script src="../shared/directives/widgetClockDir.js"></script>
    <!--Controllers-->
    <script src="app.mdl.js"></script>
    <script src="app.route.js"></script>
    <script src="homePage/homePageCtrl.js"></script>
    <script src="schedule/scheduleCtrl.js"></script>
</body>

</html>
